.acceuil section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    z-index: -1;
    font-size: 1.2rem;
}

.blue{
    background: #3c31dd;
}

.red{
    background: #dd3f31;
}

.pink{
    background: #ff0066;
}

.dark{
    background: #0f0f10;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 87px;
}

.wave .shape-fill {
    fill: #3C31DD;
}

.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url('../img/layer1.svg');
}

.layer2{
    background-image: url('../img/layer2.svg');
}



.acceuil section p {

text-align: justify;
text-justify: inter-word;
text-indent: 2rem;

}



.footer{
    display: flex;
    flex-direction: row;
    justify-content : space-around
}



.acceuil section img {

    width: 70%;
    height: auto;
        
}

.imageet {
    margin-right: 2rem;
    height: 56px;
    width: 56px;
        
}